:root {
    --boxSize: 100px;
    --background-color: rgb(5,195,221);
  }

body {
    background-color: black;
}

.tweet{
    position: relative;
    line-height: var(--boxSize);
    text-align: center;
    background-color: black;
    color: white;
    border: 10px solid var(--background-color);
    border-radius: 20px;
    font-size:50px;
    overflow-wrap: break-word
}


h1, form{
    color: var(--background-color);
    text-align: center;
    width:100vw
}

h1{
    font-size: 50px;
}

form{
    padding-bottom: 50px;
}

input {
    height: 50px;
    font-size: 30px;
    border: 5px solid var(--background-color);
    border-radius: 20px;
    color: var(--background-color);
}


.delete{
    position: absolute;
    top: 0;
    right:0;
    background-color: var(--background-color);
    color: black;
    border: 5px solid black;
    border-radius: 20px;
    font-size: 30px;
    height: 50px;
    width: 150px;
    margin: 10px;
}
