/* Variables */
:root {
    --boxSize: 100px;
    --background-color: rgb(5,195,221);
}
/* Background */
body {
    background-color: black;
}
/* Styling for the tweets */
.tweet{
    position: relative;
    line-height: var(--boxSize);
    text-align: center;
    background-color: black;
    color: white;
    border: 10px solid var(--background-color);
    border-radius: 20px;
    font-size:50px;
    /* make the text wrap around */
    overflow-wrap: break-word
}

/* format the elements at the top of the page */
h1, form{
    color: var(--background-color);
    text-align: center;
    width:100vw
}

h1{
    font-size: 50px;
}
/* Add spacing to the page */
form{
    padding-bottom: 50px;
}

/* styling for the form */
input {
    height: 50px;
    font-size: 30px;
    border: 5px solid var(--background-color);
    border-radius: 20px;
    color: var(--background-color);
}

/* styling for the delete button */
.delete{
    /* place it at the top right of the tweet */
    position: absolute;
    top: 0;
    right:0;
    background-color: var(--background-color);
    color: black;
    border: 5px solid black;
    border-radius: 20px;
    font-size: 30px;
    height: 50px;
    width: 150px;
    margin: 10px;
}
